table{
    margin: auto;
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
p, h1, h4{
    margin: 0px;
}
.title{
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.headtable, .elements, .por{
    text-align: center;
    background-color: white;
}
.elements td{
    width: 100px;
}
.num{
    float: left;
    width: 50%;
}
.symbol{
    float: right;
    width: 50%;
    text-align: right;
}
.name{
    float: right;

}
.num2{
    float: right;
    width: 50%;
    text-align: right;
}
.symbol2{
    float: right;
    width: 50%;
    text-align: left;
}
.name2{
    float: left;
}
.num3{
    margin: 0 30px 10px;
}
.name3{
    padding-left: 5px;
}

/*цвета ячеек*/
.sixrow, .eightrow{
    background-color: lightskyblue;
}
.sevenrow, .ninerow{
    background-color: #fffa7c;
}
.lant{
    background-color: lightgreen;
}
.element1:hover{
    background-color: rgba(100,166,255,0.8);
    transition: ease 0.5s;
}
.element2:hover{
    background-color: #ffe73c;
    transition: ease 0.5s;
}
.lant:hover{
    background-color: rgba(76,255,116,0.91);
    transition: ease 0.5s;
}

/*текст*/
.massa{
    opacity: 50%;
}
a {
    color: rgba(43,43,43,0.80);
    text-decoration: none;
}
a:hover{
    color: black;
    transition: ease 0.5s;
}